# Arquivos de ambiente virtual
.venv/
env/
venv/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Diretórios do sistema
*.egg-info/
dist/
build/

# Jupyter Notebooks checkpoints (se usares)
.ipynb_checkpoints/

# Configurações do editor (exemplos)
.vscode/
.idea/

# Arquivos temporários
*.log